# -------------------------
# Data & datasets
# -------------------------
data/
datasets/
dinov3/
past/

# -------------------------
# Model checkpoints
# -------------------------
ckpt/

# -------------------------
# Compressed files
# -------------------------
*.zip
*.tar
*.tar.gz

# -------------------------
# (선택) Python 캐시 / 환경
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# (선택) Jupyter / IDE
# -------------------------
.ipynb_checkpoints/
.vscode/
.idea/

# -------------------------
# (선택) OS files
# -------------------------
.DS_Store
Thumbs.db
